
header{
  background-color: #3F454A;
  min-height: 100px;
}

.mbiz-col {

  padding-right: 0;
  padding-left: 0;

}

.mbiz-container{

  background-color: #dadada;

}

.nav-tabs {

  background-color: #3F454A;
  padding-left: 15px;
  padding-right: 15px;

}

.nav-tabs > li {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
}
.nav-tabs > li:first-child {
  padding-left: 0;
}


.nav-tabs > li > a{
  background: none repeat scroll 0 0 #545C64;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  color: #C4CED8;
  display: block;
  font-weight: bold;
  height: 50px;
  line-height: 55px;
  margin-top: 5px;
  padding: 0 20px;
  text-decoration: none;
  border-bottom: 0;
}
.nav-tabs > li.active a{
  background-color: #ffffff;
  border: 0;
  color: #59646A;
}

.outlet-container {

  background-color: #dadada;
  margin-top: -1px;

}

.outlet {

  background-color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;

}
