<div class="mbiz-container">

    <header></header>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 mbiz-col">

                <ul class="nav nav-tabs">
                    <li *ngIf="(login$ | async)?.data" role="presentation" routerLinkActive="active"><a (click)="login_actions.logout()" >    Logout    </a></li>
                    <li *ngIf="!(login$ | async)?.data" role="presentation" routerLinkActive="active"><a routerLink="login">    Login    </a></li>
                    <!--<li role="presentation" routerLinkActive="active"><a routerLink="login">Login</a></li>-->
                    <li role="presentation" routerLinkActive="active"><a routerLink="brand">Brand</a></li>
                </ul>

                <div class="outlet-container">
                    <div class="outlet">

                            <div class="row">
                                <div class="col-md-12">

                                    <router-outlet></router-outlet>
                                </div>
                            </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

